In [1]:
5 + 2

7

In [2]:
5 + 2 * -3

-1

In [17]:
# Determine the type of a variable
ini_float = 6.0
type(ini_float)

float

In [6]:
# Change float into int
int(7.999999999)

7

In [7]:
# Change int into float
float(6)

6.0

In [8]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [9]:
x = 5
y = 2
x + x - y ** 2

6

In [13]:
# Multiline
kalimat = """
This document will explore why comments are particularly
   useful when writing and reading code.
"""

In [15]:
# Finding the area of a triangle
base = 2
height = 4
(base * height) / 2

4.0

In [20]:
# Escape character
bookstore_name = 'Moe\'s bookstore'

In [21]:
# Print variable
greeting = 'hello'
print(greeting)

hello

In [22]:
# String concat
spanish_greeting = 'Hola'
print(spanish_greeting + ' Eka')

Hola Eka

In [23]:
# Print 5 times the string
print(spanish_greeting*5)

HolaHolaHolaHolaHola

In [24]:
# combine string with f-string
poet = 'Amanda Gorman'
age = 22
combined_string = f'At age {age}, {poet} became the youngest inaugural poet in US history.'
print(combined_string)

At age 22, Amanda Gorman became the youngest inaugural poet in US history.

In [25]:
# Length of a string
len(combined_string)

74

In [33]:
# String methods
print(combined_string.capitalize())
print(combined_string.upper())
print(combined_string.count("a"))

At age 22, amanda gorman became the youngest inaugural poet in us history.
AT AGE 22, AMANDA GORMAN BECAME THE YOUNGEST INAUGURAL POET IN US HISTORY.
7

In [2]:
name = input('What is your name?')
print(f'Hello, {name}.')

What is your name? eka

Hello, eka.

In [5]:
# Every character in a string is index (string is array of character)
string_index = 'San Fransisco'
print(string_index[5])
# negative number in array means count from the last index
print(string_index[-2])

r
c

In [6]:
# A slice is a subset of a string or other element
# Start at index 4, end in index 11
sliced_destination = string_index[4:11]
print(sliced_destination)

Fransis

In [7]:
over_18, over_21 = True, False
over_18 and over_21

False

In [8]:
over_18 or over_21

True

In [9]:
not over_18

False

In [10]:
not over_21 or (over_21 or over_18)

True

In [16]:
# COMPARISON
income = 80000
print('income < 75000: ', income < 75000)
print('income >= 80000 and income <= 100000: ', income >= 80000 and income <= 100000)
print('income != 100000: ', income != 100000)
print('income == 90000: ', income == 90000)
# Since 6 and 6.0 are equivalent mathematically, it makes sense that they would be equivalent in Python
print('6 == 6.0: ', 6 == 6.0)

income < 75000:  False
income >= 80000 and income <= 100000:  True
income != 100000:  True
income == 90000:  False
6 == 6.0:  True

In [18]:
# when comparing two words, the word that comes later in the dictionary is considered greater than the word that comes before
city_1 = 'New York'
city_2 = 'San Fransisco'
print('city_1 > city_2: ', city_1 > city_2)

city_1 > city_2:  False

In [26]:
# IF - ELIF - ELSE
my_age = 17
if my_age <= 5:
    print('You are a toddler')
elif my_age < 18:
    print('You aren\'t old enough to vote')
else:
    print('You are ready to vote')
    if my_age >= 21:
        print('You can play poker too')
    else:
        print('You can\'t play poker yet')

You aren't old enough to vote

In [27]:
# LOOP
i = 1
while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [28]:
# Find the first number greater than 100 and divisible by 17
x = 100
while x >= 100:
    x += 1
    if x % 17 == 0:
        print('', x, 'is the first number greater than 100 that is divisible by 17.')
        break

 102 is the first number greater than 100 that is divisible by 17.

In [29]:
number = input('Enter a number to see if it\'s a perfect square or not')
abs_number = abs(int(number))

loop = -1
is_square = False

while loop <= abs_number:
    loop += 1
    if loop * loop == abs_number:
        is_square = True
        break

if is_square:
    print('The square root of ', abs_number, ' is ', loop, '.')
else:
    print(abs_number, ' is not a perfect square')

Enter a number to see if it's a perfect square or not 64

The square root of  64  is  8 .